.git
.gitignore
.vscode
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
notebooks/
DeepRockSR-2D/

outputs/**
!outputs/**/
!outputs/**/checkpoints/
!outputs/**/checkpoints/*.pt
!outputs/**/checkpoints/*.pth
